.flex-item {
    background:rgb(180, 230, 238);
    min-width: 50px;
    min-height: 50px;
    border: 2px solid black;
}

.flex-container {
    display: flex;
    justify-content:space-around;
    align-items:stretch;

    border: 2px solid red;
    height: 200px;
}
/* Can change the direction back to column, but it means the MAIN AXIS switches */
.flex-container-col {
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;

    border:2px solid orange;
    height:200px;
}


#special {
    flex-grow:1
}